@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-lato {
  font-family: "Lato", sans-serif;
}

.font-dancing-script {
  font-family: "Dancing Script", cursive;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-nunito {
  font-family: "Nunito", sans-serif;
}
.font-rubik {
  font-family: "Rubik", sans-serif;
}
.font-pacifico {
  font-family: "Pacifico", cursive;
}
.font-karla {
  font-family: "Karla", sans-serif;
}
.font-dm-sans {
  font-family: "DM Sans", sans-serif;
}
.ci {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

.ci-invert {
  filter: invert(1);
}
.ci-telegram {
  content: url("./svg/telegram.svg");
}
.ci-ciphense {
  content: url("./svg/ciphense.svg");
}
.ci-vuejs,
.ci-vue {
  content: url("./svg/vuejs.svg");
}
.ci-nuxtjs,
.ci-nuxt {
  content: url("./svg/nuxtjs.svg");
}
.ci-nuxtjs-horizontal,
.ci-nuxt-horizontal {
  content: url("./svg/nuxtjs-horizontal-dark.svg");
}
.ci-nuxtjs-horizontal-dark,
.ci-nuxt-horizontal-dark {
  content: url("./svg/nuxtjs-horizontal-dark.svg");
}
.ci-nuxtjs-horizontal-light,
.ci-nuxt-horizontal-light {
  content: url("./svg/nuxtjs-horizontal-light.svg");
}
.ci-ringcentral {
  content: url("./svg/ringcentral.svg");
}
.ci-google {
  content: url("./images/google.png");
}
.ci-highonswift {
  content: url("./images/highonswift.png");
}
.ci-nearveg {
  content: url("./images/nearveg.jpg");
}
.ci-firebase {
  content: url("images/firebase.png");
}
.ci-docker {
  content: url("images/docker.webp");
}
.ci-docker-horizontal {
  content: url("images/docker-horizontal.webp");
}
.ci-docker-vertical {
  content: url("images/docker-vertical.webp");
}
.ci-google-wordmark {
  content: url("./images/google-wordmark.png");
}
.ci-flutter {
  content: url("./images/flutter.png");
}
.ci-mysql {
  content: url("./images/mysql.png");
}
.ci-twitter {
  content: url("./svg/twitter.svg");
}
.ci-aws {
  content: url("./svg/aws.svg");
}
.ci-git {
  content: url("./svg/git.svg");
}
.ci-pytorch {
  content: url("./svg/pytorch.svg");
}
.ci-pytorch-horizontal {
  content: url("./svg/pytorch-horizontal.svg");
}
.ci-git-horizontal {
  content: url("./svg/git-horizontal.svg");
}
.ci-mongodb {
  content: url("./svg/mongodb.svg");
}
.ci-mongodb-horizontal {
  content: url("./svg/mongodb-horizontal.svg");
}
.ci-mongodb-2 {
  content: url("./svg/mongodb-2.svg");
}
.ci-mongodb-horizontal-2 {
  content: url("./svg/mongodb-horizontal-2.svg");
}
.ci-cashfree {
  content: url("./svg/cashfree.svg");
}
.ci-twitter-circle {
  content: url("./svg/twitter-circle.svg");
}
.ci-java {
  content: url("./svg/java.svg");
}
.ci-java-vertical {
  content: url("./svg/java-vertical.svg");
}
.ci-twitter-rounded-square {
  content: url("./svg/twitter-rounded-square.svg");
}
.ci-twitter-square {
  content: url("./svg/twitter-square.svg");
}
.ci-tailwind {
  content: url("./svg/tailwind.svg");
}
.ci-js {
  content: url("./svg/js.svg");
}
.ci-ts {
  content: url("./svg/ts.svg");
}
.ci-ts-circle {
  content: url("./svg/ts-circle.svg");
}
.ci-ts-wordmark {
  content: url("./svg/ts-wordmark.svg");
}
.ci-do {
  content: url("./svg/do.svg");
}
.ci-html {
  content: url("./svg/html.svg");
}
.ci-do-horizontal {
  content: url("./svg/do-horizontal.svg");
}
.ci-do-vertical {
  content: url("./svg/do-vertical.svg");
}
.ci-react-native {
  content: url("./svg/react-native.svg");
}
.ci-sanity {
  content: url("./images/sanity.webp");
}
.ci-sanity-wordmark {
  content: url("./svg/sanity.svg");
}
.ci-django {
  content: url("./svg/django.svg");
}
.ci-django-wordmark {
  content: url("./svg/django-wordmark.svg");
}
.ci-framer-motion {
  content: url("./svg/framer-motion.svg");
}
.ci-figma {
  content: url("./svg/figma.svg");
}

.ci-postgresql {
  content: url("./images/postgresql.png");
}

.ci-supabase {
  content: url("./svg/supabase.svg");
}

.ci-supabase-horizontal {
  content: url("./svg/supabase-horizontal-dark.svg");
}

.ci-supabase-horizontal-light {
  content: url("./svg/supabase-horizontal-light.svg");
}

.ci-supabase-horizontal-dark {
  content: url("./svg/supabase-horizontal-dark.svg");
}

.ci-vercel {
  content: url("./svg/vercel-dark.svg");
}
.ci-vercel-light {
  content: url("./svg/vercel-light.svg");
}
.ci-vercel-dark {
  content: url("./svg/vercel-dark.svg");
}
.ci-vercel-horizontal {
  content: url("./svg/vercel-horizontal-dark.svg");
}
.ci-vercel-horizontal-light {
  content: url("./svg/vercel-horizontal-light.svg");
}
.ci-vercel-horizontal-dark {
  content: url("./svg/vercel-horizontal-dark.svg");
}

.ci-nextjs,
.ci-next {
  content: url("./svg/nextjs-dark.svg");
}
.ci-nextjs-light,
.ci-next-light {
  content: url("./svg/nextjs-light.svg");
}
.ci-nextjs-dark,
.ci-next-dark {
  content: url("./svg/nextjs-dark.svg");
}
.ci-nextjs-horizontal,
.ci-next-horizontal {
  content: url("./svg/nextjs-horizontal-dark.svg");
}
.ci-nextjs-horizontal-light,
.ci-next-horizontal-light {
  content: url("./svg/nextjs-horizontal-light.svg");
}
.ci-nextjs-horizontal-dark,
.ci-next-horizontal-dark {
  content: url("./svg/nextjs-horizontal-dark.svg");
}

.ci-python {
  content: url("./svg/python.svg");
}

.ci-python-horizontal {
  content: url("./svg/python-horizontal.svg");
}

.ci-python-powered {
  content: url("./svg/python-powered.svg");
}
.ci-python-powered-2 {
  content: url("./svg/python-powered-2.svg");
}

.ci-bootstrap {
  content: url("./svg/bootstrap.svg");
}
.ci-redux {
  content: url("./svg/redux.svg");
}

.ci-mui {
  content: url("./svg/mui.svg");
}

.ci-tmdb {
  content: url("./svg/tmdb.svg");
}

.ci-reactjs .ci-react {
  content: url("./images/reactjs.png");
}
.ci-github {
  content: url("./svg/github-dark.svg");
}

.ci-github-light {
  content: url("./svg/github-light.svg");
}

.ci-github-dark {
  content: url("./svg/github-dark.svg");
}

.ci-github-wordmark {
  content: url("/images/github-wordmark-dark.png");
}
.ci-github-wordmark-light {
  content: url("/images/github-wordmark-light.png");
}
.ci-github-wordmark-dark {
  content: url("/images/github-wordmark-dark.png");
}

.ci-spotify-horizontal {
  content: url("./images/spotify-horizontal.png");
}

.ci-spotify {
  content: url("./svg/spotify.svg");
}
.ci-redis {
  content: url("./svg/redis.svg");
}
.ci-redis-horizontal {
  content: url("./svg/redis-horizontal-dark.svg");
}
.ci-redis-horizontal-light {
  content: url("./svg/redis-horizontal-light.svg");
}
.ci-redis-horizontal-dark {
  content: url("./svg/redis-horizontal-dark.svg");
}
.ci-redis-enterprise {
  content: url("./svg/redis-enterprise.svg");
}

.ci-railway {
  content: url("./svg/railway-dark.svg");
}
.ci-railway-light {
  content: url("./svg/railway-light.svg");
}
.ci-railway-dark {
  content: url("./svg/railway-dark.svg");
}
.ci-railway-horizontal {
  content: url("./svg/railway-horizontal-dark.svg");
}
.ci-railway-horizontal-light {
  content: url("./svg/railway-horizontal-light.svg");
}
.ci-railway-horizontal-dark {
  content: url("./svg/railway-horizontal-dark.svg");
}
.ci-youtube {
  content: url("./images/youtube.png");
}
.ci-youtube-horizontal {
  content: url("./images/youtube-horizontal.png");
}
.ci-gmail {
  content: url("./images/gmail.png");
}

.ci-css {
  content: url("./svg/css.svg");
}
.ci-sass {
  content: url("./images/sass.png");
}
.ci-sass-wordmark {
  content: url("./images/sass-wordmark.png");
}
.ci-github-dark {
  content: url("./svg/github.svg");
}
.ci-web3js,
.ci-web3 {
  content: url("./images/web3js.png");
}

.ci-nodejs,
.ci-node {
  content: url("./svg/nodejs.svg");
}
.ci-nodejs-horizontal,
.ci-node-horizontal {
  content: url("./svg/nodejs-horizontal-dark.svg");
}
.ci-nodejs-horizontal-light,
.ci-node-horizontal-light {
  content: url("./svg/nodejs-horizontal-light.svg");
}
.ci-nodejs-horizontal-dark,
.ci-node-horizontal-dark {
  content: url("./svg/nodejs-horizontal-dark.svg");
}
.ci-nodejs-vertical,
.ci-node-vertical {
  content: url("./svg/nodejs-vertical-dark.svg");
}
.ci-nodejs-vertical-light,
.ci-node-vertical-light {
  content: url("./svg/nodejs-vertical-light.svg");
}
.ci-nodejs-vertical-dark,
.ci-node-vertical-dark {
  content: url("./svg/nodejs-vertical-dark.svg");
}

.ci-graphql {
  content: url("./svg/graphql.svg");
}
.ci-graphql-horizontal {
  content: url("./svg/graphql-horizontal.svg");
}
.ci-graphql-vertical {
  content: url("./svg/graphql-vertical.svg");
}
.ci-infura {
  content: url("./svg/infura.svg");
}
.ci-infura-vertical {
  content: url("./svg/infura-vertical.svg");
}
.ci-infura-wordmark {
  content: url("./svg/infura-wordmark.svg");
}
.ci-eth {
  content: url("./images/eth.png");
}
.ci-metamask {
  content: url("./svg/metamask.svg");
}
.ci-metamask-horizontal {
  content: url("./svg/metamask-horizontal.svg");
}
.ci-metamask-vertical {
  content: url("./svg/metamask-vertical.svg");
}
.ci-solidity {
  content: url("./images/solidity.png");
}

.ci-npm {
  content: url("./svg/npm.svg");
}
.ci-npm-wordmark {
  content: url("./svg/npm-wordmark.svg");
}
/* social */
.ci-leetcode {
  content: url("./images/leetcode-dark.png");
}
.ci-leetcode-dark {
  content: url("./images/leetcode-dark.png");
}
.ci-leetcode-light {
  content: url("./images/leetcode-light.png");
}
.ci-linkedin {
  content: url("images/linkedin.png");
}
.ci-linkedin-horizontal {
  content: url("images/linkedin-horizontal.png");
}
.ci-instagram {
  content: url("svg/instagram.svg");
}
.ci-discord {
  content: url("svg/discord.svg");
}
.ci-discord-horizontal {
  content: url("svg/discord-horizontal.svg");
}
.ci-kubernetes {
  content: url("svg/kubernetes.svg");
}
.ci-kubernetes-horizontal {
  content: url("svg/kubernetes-horizontal.svg");
}
.ci-kubernetes-vertical {
  content: url("svg/kubernetes-vertical.svg");
}

.ci-2xs {
  width: 0.625rem;
  height: 0.625rem;
}
.ci-xs {
  width: 0.75rem;
  height: 0.75rem;
}

.ci-sm {
  width: 0.875rem;
  height: 0.875rem;
}
.ci-md {
  width: 1rem;
  height: 1rem;
}
.ci-lg {
  width: 1.25rem;
  height: 1.25rem;
}

.ci-xl {
  width: 1.5rem;
  height: 1.5rem;
}

.ci-2xl {
  width: 2rem;
  height: 2rem;
}

.ci-1x {
  width: 1rem;
  height: 1rem;
}
.ci-2x {
  width: 2rem;
  height: 2rem;
}
.ci-3x {
  width: 3rem;
  height: 3rem;
}
.ci-4x {
  width: 4rem;
  height: 4rem;
}
.ci-5x {
  width: 5rem;
  height: 5rem;
}
.ci-6x {
  width: 6rem;
  height: 6rem;
}
.ci-7x {
  width: 7rem;
  height: 7rem;
}
.ci-8x {
  width: 8rem;
  height: 8rem;
}
.ci-9x {
  width: 9rem;
  height: 9rem;
}
.ci-10x {
  width: 10rem;
  height: 10rem;
}
