@tailwind base;
@tailwind components;
@tailwind utilities;

@import './ci.css';

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
    /* Webkit browsers */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
}