.ci-365,
.ci-365-dark,
.ci-365-light {
  content: url("../../public/logos/365/365.svg");
}

.ci-access,
.ci-access-dark,
.ci-access-light {
  content: url("../../public/logos/365/access.svg");
}

.ci-delve,
.ci-delve-dark,
.ci-delve-light {
  content: url("../../public/logos/365/delve.svg");
}

.ci-excel,
.ci-excel-dark,
.ci-excel-light {
  content: url("../../public/logos/365/excel.svg");
}

.ci-forms,
.ci-forms-dark,
.ci-forms-light {
  content: url("../../public/logos/365/forms.svg");
}

.ci-onedrive,
.ci-onedrive-dark,
.ci-onedrive-light {
  content: url("../../public/logos/365/onedrive.svg");
}

.ci-onenote,
.ci-onenote-dark,
.ci-onenote-light {
  content: url("../../public/logos/365/onenote.svg");
}

.ci-outlook,
.ci-outlook-dark,
.ci-outlook-light {
  content: url("../../public/logos/365/outlook.svg");
}

.ci-powerpoint,
.ci-powerpoint-dark,
.ci-powerpoint-light {
  content: url("../../public/logos/365/powerpoint.svg");
}

.ci-project,
.ci-project-dark,
.ci-project-light {
  content: url("../../public/logos/365/project.svg");
}

.ci-sharepoint,
.ci-sharepoint-dark,
.ci-sharepoint-light {
  content: url("../../public/logos/365/sharepoint.svg");
}

.ci-sway,
.ci-sway-dark,
.ci-sway-light {
  content: url("../../public/logos/365/sway.svg");
}

.ci-teams,
.ci-teams-dark,
.ci-teams-light {
  content: url("../../public/logos/365/teams.svg");
}

.ci-visio,
.ci-visio-dark,
.ci-visio-light {
  content: url("../../public/logos/365/visio.svg");
}

.ci-word,
.ci-word-dark,
.ci-word-light {
  content: url("../../public/logos/365/word.svg");
}

.ci-adidas-light {
  content: url("../../public/logos/adidas/adidas-light.svg");
}

.ci-adidas-stacked-light,
.ci-adidas-vertical-light {
  content: url("../../public/logos/adidas/adidas-vertical-light.svg");
}

.ci-adidas-stacked,
.ci-adidas-stacked-dark,
.ci-adidas-vertical,
.ci-adidas-vertical-dark {
  content: url("../../public/logos/adidas/adidas-vertical.svg");
}

.ci-adidas-wordmark,
.ci-adidas-wordmark-dark,
.ci-adidas-wordmark-light {
  content: url("../../public/logos/adidas/adidas-wordmark.svg");
}

.ci-adidas,
.ci-adidas-dark {
  content: url("../../public/logos/adidas/adidas.svg");
}

.ci-airbnb-circle,
.ci-airbnb-circle-dark,
.ci-airbnb-circle-light {
  content: url("../../public/logos/airbnb/airbnb-circle.png");
}

.ci-airbnb-horizontal,
.ci-airbnb-horizontal-dark,
.ci-airbnb-horizontal-light,
.ci-airbnb-inline,
.ci-airbnb-inline-dark,
.ci-airbnb-inline-light {
  content: url("../../public/logos/airbnb/airbnb-horizontal.svg");
}

.ci-airbnb,
.ci-airbnb-dark,
.ci-airbnb-light {
  content: url("../../public/logos/airbnb/airbnb.svg");
}

.ci-alan-horizontal,
.ci-alan-horizontal-dark,
.ci-alan-horizontal-light,
.ci-alan-inline,
.ci-alan-inline-dark,
.ci-alan-inline-light {
  content: url("../../public/logos/alan/alan-horizontal.svg");
}

.ci-alan-stacked,
.ci-alan-stacked-dark,
.ci-alan-stacked-light,
.ci-alan-vertical,
.ci-alan-vertical-dark,
.ci-alan-vertical-light {
  content: url("../../public/logos/alan/alan-vertical.svg");
}

.ci-alan,
.ci-alan-dark,
.ci-alan-light {
  content: url("../../public/logos/alan/alan.svg");
}

.ci-amazon-stacked-light,
.ci-amazon-vertical-light {
  content: url("../../public/logos/amazon/amazon-vertical-light.svg");
}

.ci-amazon-stacked,
.ci-amazon-stacked-dark,
.ci-amazon-vertical,
.ci-amazon-vertical-dark {
  content: url("../../public/logos/amazon/amazon-vertical.svg");
}

.ci-amazon,
.ci-amazon-dark,
.ci-amazon-light {
  content: url("../../public/logos/amazon/amazon.svg");
}

.ci-angular,
.ci-angular-dark,
.ci-angular-light {
  content: url("../../public/logos/angular/angular.svg");
}

.ci-apple,
.ci-apple-dark,
.ci-apple-light {
  content: url("../../public/logos/apple/apple.svg");
}

.ci-artstation-horizontal-light,
.ci-artstation-inline-light {
  content: url("../../public/logos/artstation/artstation-horizontal-light.svg");
}

.ci-artstation-horizontal,
.ci-artstation-horizontal-dark,
.ci-artstation-inline,
.ci-artstation-inline-dark {
  content: url("../../public/logos/artstation/artstation-horizontal.svg");
}

.ci-artstation-stacked-light,
.ci-artstation-vertical-light {
  content: url("../../public/logos/artstation/artstation-vertical-light.svg");
}

.ci-artstation-stacked,
.ci-artstation-stacked-dark,
.ci-artstation-vertical,
.ci-artstation-vertical-dark {
  content: url("../../public/logos/artstation/artstation-vertical.svg");
}

.ci-artstation,
.ci-artstation-dark,
.ci-artstation-light {
  content: url("../../public/logos/artstation/artstation.svg");
}

.ci-astrazeneca-horizontal,
.ci-astrazeneca-horizontal-dark,
.ci-astrazeneca-horizontal-light,
.ci-astrazeneca-inline,
.ci-astrazeneca-inline-dark,
.ci-astrazeneca-inline-light {
  content: url("../../public/logos/astrazeneca/astrazeneca-horizontal.svg");
}

.ci-astrazeneca,
.ci-astrazeneca-dark,
.ci-astrazeneca-light {
  content: url("../../public/logos/astrazeneca/astrazeneca.svg");
}

.ci-audi-light {
  content: url("../../public/logos/audi/audi-light.svg");
}

.ci-audi,
.ci-audi-dark {
  content: url("../../public/logos/audi/audi.svg");
}

.ci-aws-light {
  content: url("../../public/logos/aws/aws-light.svg");
}

.ci-aws,
.ci-aws-dark {
  content: url("../../public/logos/aws/aws.svg");
}

.ci-azure,
.ci-azure-dark,
.ci-azure-light {
  content: url("../../public/logos/azure/azure.svg");
}

.ci-azure2,
.ci-azure2-dark,
.ci-azure2-light {
  content: url("../../public/logos/azure/azure2.svg");
}

.ci-bandcamp-horizontal-light,
.ci-bandcamp-inline-light {
  content: url("../../public/logos/bandcamp/bandcamp-horizontal-light.png");
}

.ci-bandcamp-horizontal,
.ci-bandcamp-horizontal-dark,
.ci-bandcamp-inline,
.ci-bandcamp-inline-dark {
  content: url("../../public/logos/bandcamp/bandcamp-horizontal.png");
}

.ci-bandcamp,
.ci-bandcamp-dark,
.ci-bandcamp-light {
  content: url("../../public/logos/bandcamp/bandcamp.svg");
}

.ci-bandcamp2-horizontal-light,
.ci-bandcamp2-inline-light {
  content: url("../../public/logos/bandcamp/bandcamp2-horizontal-light.png");
}

.ci-bandcamp2-horizontal,
.ci-bandcamp2-horizontal-dark,
.ci-bandcamp2-inline,
.ci-bandcamp2-inline-dark {
  content: url("../../public/logos/bandcamp/bandcamp2-horizontal.png");
}

.ci-barclays-wordmark,
.ci-barclays-wordmark-dark,
.ci-barclays-wordmark-light {
  content: url("../../public/logos/barclays/barclays-wordmark.svg");
}

.ci-barclays,
.ci-barclays-dark,
.ci-barclays-light {
  content: url("../../public/logos/barclays/barclays.svg");
}

.ci-behance-wordmark,
.ci-behance-wordmark-dark,
.ci-behance-wordmark-light {
  content: url("../../public/logos/behance/behance-wordmark.svg");
}

.ci-behance,
.ci-behance-dark,
.ci-behance-light {
  content: url("../../public/logos/behance/behance.svg");
}

.ci-behance2,
.ci-behance2-dark,
.ci-behance2-light {
  content: url("../../public/logos/behance/behance2.svg");
}

.ci-bmw,
.ci-bmw-dark,
.ci-bmw-light {
  content: url("../../public/logos/bmw/bmw.png");
}

.ci-booking-wordmark,
.ci-booking-wordmark-dark,
.ci-booking-wordmark-light {
  content: url("../../public/logos/booking/booking-wordmark.svg");
}

.ci-booking,
.ci-booking-dark,
.ci-booking-light {
  content: url("../../public/logos/booking/booking.jpeg");
}

.ci-bootstrap,
.ci-bootstrap-dark,
.ci-bootstrap-light {
  content: url("../../public/logos/bootstrap/bootstrap.svg");
}

.ci-burgerking,
.ci-burgerking-dark,
.ci-burgerking-light {
  content: url("../../public/logos/burgerking/burgerking.svg");
}

.ci-buymeacoffee,
.ci-buymeacoffee-dark,
.ci-buymeacoffee-light {
  content: url("../../public/logos/buymeacoffee/buymeacoffee.png");
}

.ci-c,
.ci-c-dark,
.ci-c-light {
  content: url("../../public/logos/c/c.svg");
}

.ci-cashfree-horizontal-light,
.ci-cashfree-inline-light {
  content: url("../../public/logos/cashfree/cashfree-horizontal-light.svg");
}

.ci-cashfree-horizontal,
.ci-cashfree-horizontal-dark,
.ci-cashfree-inline,
.ci-cashfree-inline-dark {
  content: url("../../public/logos/cashfree/cashfree-horizontal.svg");
}

.ci-cashfree,
.ci-cashfree-dark,
.ci-cashfree-light {
  content: url("../../public/logos/cashfree/cashfree.svg");
}

.ci-cf,
.ci-cf-dark,
.ci-cf-light,
.ci-codeforces,
.ci-codeforces-dark,
.ci-codeforces-light {
  content: url("../../public/logos/codeforces/codeforces.svg");
}

.ci-cpp,
.ci-cpp-dark,
.ci-cpp-light {
  content: url("../../public/logos/cpp/cpp.svg");
}

.ci-csharp,
.ci-csharp-dark,
.ci-csharp-light {
  content: url("../../public/logos/csharp/csharp.svg");
}

.ci-css,
.ci-css-dark,
.ci-css-light {
  content: url("../../public/logos/css/css.svg");
}

.ci-deviantart-horizontal,
.ci-deviantart-horizontal-dark,
.ci-deviantart-horizontal-light,
.ci-deviantart-inline,
.ci-deviantart-inline-dark,
.ci-deviantart-inline-light {
  content: url("../../public/logos/deviantart/deviantart-horizontal.svg");
}

.ci-deviantart,
.ci-deviantart-dark,
.ci-deviantart-light {
  content: url("../../public/logos/deviantart/deviantart.svg");
}

.ci-deviantart2,
.ci-deviantart2-dark,
.ci-deviantart2-light {
  content: url("../../public/logos/deviantart/deviantart2.svg");
}

.ci-dc-horizontal,
.ci-dc-horizontal-dark,
.ci-dc-horizontal-light,
.ci-dc-inline,
.ci-dc-inline-dark,
.ci-dc-inline-light,
.ci-discord-horizontal,
.ci-discord-horizontal-dark,
.ci-discord-horizontal-light,
.ci-discord-inline,
.ci-discord-inline-dark,
.ci-discord-inline-light {
  content: url("../../public/logos/discord/discord-horizontal.svg");
}

.ci-dc,
.ci-dc-dark,
.ci-dc-light,
.ci-discord,
.ci-discord-dark,
.ci-discord-light {
  content: url("../../public/logos/discord/discord.svg");
}

.ci-django-wordmark,
.ci-django-wordmark-dark,
.ci-django-wordmark-light {
  content: url("../../public/logos/django/django-wordmark.svg");
}

.ci-django,
.ci-django-dark,
.ci-django-light {
  content: url("../../public/logos/django/django.svg");
}

.ci-do-horizontal,
.ci-do-horizontal-dark,
.ci-do-horizontal-light,
.ci-do-inline,
.ci-do-inline-dark,
.ci-do-inline-light {
  content: url("../../public/logos/do/do-horizontal.svg");
}

.ci-do-stacked,
.ci-do-stacked-dark,
.ci-do-stacked-light,
.ci-do-vertical,
.ci-do-vertical-dark,
.ci-do-vertical-light {
  content: url("../../public/logos/do/do-vertical.svg");
}

.ci-do,
.ci-do-dark,
.ci-do-light {
  content: url("../../public/logos/do/do.svg");
}

.ci-docker-horizontal,
.ci-docker-horizontal-dark,
.ci-docker-horizontal-light,
.ci-docker-inline,
.ci-docker-inline-dark,
.ci-docker-inline-light {
  content: url("../../public/logos/docker/docker-horizontal.svg");
}

.ci-docker-stacked,
.ci-docker-stacked-dark,
.ci-docker-stacked-light,
.ci-docker-vertical,
.ci-docker-vertical-dark,
.ci-docker-vertical-light {
  content: url("../../public/logos/docker/docker-vertical.webp");
}

.ci-docker,
.ci-docker-dark,
.ci-docker-light {
  content: url("../../public/logos/docker/docker.webp");
}

.ci-dominos-horizontal,
.ci-dominos-horizontal-dark,
.ci-dominos-horizontal-light,
.ci-dominos-inline,
.ci-dominos-inline-dark,
.ci-dominos-inline-light {
  content: url("../../public/logos/dominos/dominos-horizontal.svg");
}

.ci-dominos,
.ci-dominos-dark,
.ci-dominos-light {
  content: url("../../public/logos/dominos/dominos.svg");
}

.ci-dribbble-wordmark-light {
  content: url("../../public/logos/dribbble/dribbble-wordmark-light.svg");
}

.ci-dribbble-wordmark,
.ci-dribbble-wordmark-dark {
  content: url("../../public/logos/dribbble/dribbble-wordmark.svg");
}

.ci-dribbble,
.ci-dribbble-dark,
.ci-dribbble-light {
  content: url("../../public/logos/dribbble/dribbble.svg");
}

.ci-dribbble2,
.ci-dribbble2-dark,
.ci-dribbble2-light {
  content: url("../../public/logos/dribbble/dribbble2.svg");
}

.ci-dropbox-horizontal-light,
.ci-dropbox-inline-light {
  content: url("../../public/logos/dropbox/dropbox-horizontal-light.svg");
}

.ci-dropbox-horizontal,
.ci-dropbox-horizontal-dark,
.ci-dropbox-inline,
.ci-dropbox-inline-dark {
  content: url("../../public/logos/dropbox/dropbox-horizontal.svg");
}

.ci-dropbox,
.ci-dropbox-dark,
.ci-dropbox-light {
  content: url("../../public/logos/dropbox/dropbox.svg");
}

.ci-eth,
.ci-eth-dark,
.ci-eth-light {
  content: url("../../public/logos/eth/eth.svg");
}

.ci-expedia-horizontal,
.ci-expedia-horizontal-dark,
.ci-expedia-horizontal-light,
.ci-expedia-inline,
.ci-expedia-inline-dark,
.ci-expedia-inline-light {
  content: url("../../public/logos/expedia/expedia-horizontal.svg");
}

.ci-expedia,
.ci-expedia-dark,
.ci-expedia-light {
  content: url("../../public/logos/expedia/expedia.svg");
}

.ci-express-wordmark,
.ci-express-wordmark-dark,
.ci-express-wordmark-light,
.ci-expressjs-wordmark,
.ci-expressjs-wordmark-dark,
.ci-expressjs-wordmark-light {
  content: url("../../public/logos/expressjs/expressjs-wordmark.svg");
}

.ci-express,
.ci-express-dark,
.ci-express-light,
.ci-expressjs,
.ci-expressjs-dark,
.ci-expressjs-light {
  content: url("../../public/logos/expressjs/expressjs.svg");
}

.ci-facebook-wordmark,
.ci-facebook-wordmark-dark,
.ci-facebook-wordmark-light,
.ci-fb-wordmark,
.ci-fb-wordmark-dark,
.ci-fb-wordmark-light {
  content: url("../../public/logos/facebook/facebook-wordmark.svg");
}

.ci-facebook,
.ci-facebook-dark,
.ci-facebook-light,
.ci-fb,
.ci-fb-dark,
.ci-fb-light {
  content: url("../../public/logos/facebook/facebook.svg");
}

.ci-figma,
.ci-figma-dark,
.ci-figma-light {
  content: url("../../public/logos/figma/figma.svg");
}

.ci-firebase,
.ci-firebase-dark,
.ci-firebase-light {
  content: url("../../public/logos/firebase/firebase.svg");
}

.ci-flutter,
.ci-flutter-dark,
.ci-flutter-light {
  content: url("../../public/logos/flutter/flutter.svg");
}

.ci-framer,
.ci-framer-dark,
.ci-framer-light,
.ci-framer-motion,
.ci-framer-motion-dark,
.ci-framer-motion-light {
  content: url("../../public/logos/framer/framer.svg");
}

.ci-gcd,
.ci-gcd-dark,
.ci-gcd-light {
  content: url("../../public/logos/gcd/gcd.svg");
}

.ci-git-horizontal,
.ci-git-horizontal-dark,
.ci-git-horizontal-light,
.ci-git-inline,
.ci-git-inline-dark,
.ci-git-inline-light {
  content: url("../../public/logos/git/git-horizontal.svg");
}

.ci-git,
.ci-git-dark,
.ci-git-light {
  content: url("../../public/logos/git/git.svg");
}

.ci-gitea,
.ci-gitea-dark,
.ci-gitea-light {
  content: url("../../public/logos/gitea/gitea.svg");
}

.ci-github-light {
  content: url("../../public/logos/github/github-light.svg");
}

.ci-github-wordmark-light {
  content: url("../../public/logos/github/github-wordmark-light.png");
}

.ci-github-wordmark,
.ci-github-wordmark-dark {
  content: url("../../public/logos/github/github-wordmark.svg");
}

.ci-github,
.ci-github-dark {
  content: url("../../public/logos/github/github.svg");
}

.ci-gitlab-horizontal-light,
.ci-gitlab-inline-light {
  content: url("../../public/logos/gitlab/gitlab-horizontal-light.svg");
}

.ci-gitlab-horizontal,
.ci-gitlab-horizontal-dark,
.ci-gitlab-inline,
.ci-gitlab-inline-dark {
  content: url("../../public/logos/gitlab/gitlab-horizontal.svg");
}

.ci-gitlab,
.ci-gitlab-dark,
.ci-gitlab-light {
  content: url("../../public/logos/gitlab/gitlab.svg");
}

.ci-gmail-horizontal,
.ci-gmail-horizontal-dark,
.ci-gmail-horizontal-light,
.ci-gmail-inline,
.ci-gmail-inline-dark,
.ci-gmail-inline-light {
  content: url("../../public/logos/gmail/gmail-horizontal.svg");
}

.ci-gmail,
.ci-gmail-dark,
.ci-gmail-light {
  content: url("../../public/logos/gmail/gmail.svg");
}

.ci-go-wordmark,
.ci-go-wordmark-dark,
.ci-go-wordmark-light,
.ci-golang-wordmark,
.ci-golang-wordmark-dark,
.ci-golang-wordmark-light {
  content: url("../../public/logos/go/go-wordmark.svg");
}

.ci-go,
.ci-go-dark,
.ci-go-light,
.ci-golang,
.ci-golang-dark,
.ci-golang-light {
  content: url("../../public/logos/go/go.svg");
}

.ci-google-wordmark,
.ci-google-wordmark-dark,
.ci-google-wordmark-light {
  content: url("../../public/logos/google/google-wordmark.svg");
}

.ci-google,
.ci-google-dark,
.ci-google-light {
  content: url("../../public/logos/google/google.svg");
}

.ci-graphql-horizontal,
.ci-graphql-horizontal-dark,
.ci-graphql-horizontal-light,
.ci-graphql-inline,
.ci-graphql-inline-dark,
.ci-graphql-inline-light {
  content: url("../../public/logos/graphql/graphql-horizontal.svg");
}

.ci-graphql-stacked,
.ci-graphql-stacked-dark,
.ci-graphql-stacked-light,
.ci-graphql-vertical,
.ci-graphql-vertical-dark,
.ci-graphql-vertical-light {
  content: url("../../public/logos/graphql/graphql-vertical.svg");
}

.ci-graphql,
.ci-graphql-dark,
.ci-graphql-light {
  content: url("../../public/logos/graphql/graphql.svg");
}

.ci-hm,
.ci-hm-dark,
.ci-hm-light {
  content: url("../../public/logos/hm/hm.svg");
}

.ci-hotels-horizontal,
.ci-hotels-horizontal-dark,
.ci-hotels-horizontal-light,
.ci-hotels-inline,
.ci-hotels-inline-dark,
.ci-hotels-inline-light {
  content: url("../../public/logos/hotels/hotels-horizontal.svg");
}

.ci-hotels,
.ci-hotels-dark,
.ci-hotels-light {
  content: url("../../public/logos/hotels/hotels.svg");
}

.ci-hsbc-horizontal-light,
.ci-hsbc-inline-light {
  content: url("../../public/logos/hsbc/hsbc-horizontal-light.svg");
}

.ci-hsbc-horizontal,
.ci-hsbc-horizontal-dark,
.ci-hsbc-inline,
.ci-hsbc-inline-dark {
  content: url("../../public/logos/hsbc/hsbc-horizontal.svg");
}

.ci-hsbc,
.ci-hsbc-dark,
.ci-hsbc-light {
  content: url("../../public/logos/hsbc/hsbc.svg");
}

.ci-html,
.ci-html-dark,
.ci-html-light {
  content: url("../../public/logos/html/html.svg");
}

.ci-infura-stacked,
.ci-infura-stacked-dark,
.ci-infura-stacked-light,
.ci-infura-vertical,
.ci-infura-vertical-dark,
.ci-infura-vertical-light {
  content: url("../../public/logos/infura/infura-vertical.svg");
}

.ci-infura-wordmark,
.ci-infura-wordmark-dark,
.ci-infura-wordmark-light {
  content: url("../../public/logos/infura/infura-wordmark.svg");
}

.ci-infura,
.ci-infura-dark,
.ci-infura-light {
  content: url("../../public/logos/infura/infura.svg");
}

.ci-insta,
.ci-insta-dark,
.ci-insta-light,
.ci-instagram,
.ci-instagram-dark,
.ci-instagram-light {
  content: url("../../public/logos/instagram/instagram.svg");
}

.ci-java-stacked,
.ci-java-stacked-dark,
.ci-java-stacked-light,
.ci-java-vertical,
.ci-java-vertical-dark,
.ci-java-vertical-light {
  content: url("../../public/logos/java/java-vertical.svg");
}

.ci-java,
.ci-java-dark,
.ci-java-light {
  content: url("../../public/logos/java/java.svg");
}

.ci-jnj-wordmark,
.ci-jnj-wordmark-dark,
.ci-jnj-wordmark-light {
  content: url("../../public/logos/jnj/jnj-wordmark.svg");
}

.ci-jnj,
.ci-jnj-dark,
.ci-jnj-light {
  content: url("../../public/logos/jnj/jnj.png");
}

.ci-jquery-horizontal,
.ci-jquery-horizontal-dark,
.ci-jquery-horizontal-light,
.ci-jquery-inline,
.ci-jquery-inline-dark,
.ci-jquery-inline-light {
  content: url("../../public/logos/jquery/jquery-horizontal.svg");
}

.ci-jquery,
.ci-jquery-dark,
.ci-jquery-light {
  content: url("../../public/logos/jquery/jquery.svg");
}

.ci-js,
.ci-js-dark,
.ci-js-light {
  content: url("../../public/logos/js/js.svg");
}

.ci-julia-wordmark,
.ci-julia-wordmark-dark,
.ci-julia-wordmark-light {
  content: url("../../public/logos/julia/julia-wordmark.svg");
}

.ci-julia,
.ci-julia-dark,
.ci-julia-light {
  content: url("../../public/logos/julia/julia.svg");
}

.ci-kfc-wordmark,
.ci-kfc-wordmark-dark,
.ci-kfc-wordmark-light {
  content: url("../../public/logos/kfc/kfc-wordmark.svg");
}

.ci-kfc,
.ci-kfc-dark,
.ci-kfc-light {
  content: url("../../public/logos/kfc/kfc.svg");
}

.ci-kotlin-wordmark,
.ci-kotlin-wordmark-dark,
.ci-kotlin-wordmark-light {
  content: url("../../public/logos/kotlin/kotlin-wordmark.svg");
}

.ci-kotlin,
.ci-kotlin-dark,
.ci-kotlin-light {
  content: url("../../public/logos/kotlin/kotlin.svg");
}

.ci-kubernetes-horizontal,
.ci-kubernetes-horizontal-dark,
.ci-kubernetes-horizontal-light,
.ci-kubernetes-inline,
.ci-kubernetes-inline-dark,
.ci-kubernetes-inline-light {
  content: url("../../public/logos/kubernetes/kubernetes-horizontal.svg");
}

.ci-kubernetes-stacked,
.ci-kubernetes-stacked-dark,
.ci-kubernetes-stacked-light,
.ci-kubernetes-vertical,
.ci-kubernetes-vertical-dark,
.ci-kubernetes-vertical-light {
  content: url("../../public/logos/kubernetes/kubernetes-vertical.svg");
}

.ci-kubernetes,
.ci-kubernetes-dark,
.ci-kubernetes-light {
  content: url("../../public/logos/kubernetes/kubernetes.svg");
}

.ci-lamborghini,
.ci-lamborghini-dark,
.ci-lamborghini-light {
  content: url("../../public/logos/lamborghini/lamborghini.png");
}

.ci-landrover,
.ci-landrover-dark,
.ci-landrover-light {
  content: url("../../public/logos/landrover/landrover.png");
}

.ci-laravel,
.ci-laravel-dark,
.ci-laravel-light {
  content: url("../../public/logos/laravel/laravel.svg");
}

.ci-lc-light,
.ci-leetcode-light {
  content: url("../../public/logos/leetcode/leetcode-light.png");
}

.ci-lc,
.ci-lc-dark,
.ci-leetcode,
.ci-leetcode-dark {
  content: url("../../public/logos/leetcode/leetcode.png");
}

.ci-letterboxd-horizontal-light,
.ci-letterboxd-inline-light {
  content: url("../../public/logos/letterboxd/letterboxd-horizontal-light.svg");
}

.ci-letterboxd-horizontal,
.ci-letterboxd-horizontal-dark,
.ci-letterboxd-inline,
.ci-letterboxd-inline-dark {
  content: url("../../public/logos/letterboxd/letterboxd-horizontal.svg");
}

.ci-letterboxd-light {
  content: url("../../public/logos/letterboxd/letterboxd-light.svg");
}

.ci-letterboxd-stacked-light,
.ci-letterboxd-vertical-light {
  content: url("../../public/logos/letterboxd/letterboxd-vertical-light.svg");
}

.ci-letterboxd-stacked,
.ci-letterboxd-stacked-dark,
.ci-letterboxd-vertical,
.ci-letterboxd-vertical-dark {
  content: url("../../public/logos/letterboxd/letterboxd-vertical.svg");
}

.ci-letterboxd,
.ci-letterboxd-dark {
  content: url("../../public/logos/letterboxd/letterboxd.svg");
}

.ci-linkedin-horizontal,
.ci-linkedin-horizontal-dark,
.ci-linkedin-horizontal-light,
.ci-linkedin-inline,
.ci-linkedin-inline-dark,
.ci-linkedin-inline-light {
  content: url("../../public/logos/linkedin/linkedin-horizontal.svg");
}

.ci-linkedin,
.ci-linkedin-dark,
.ci-linkedin-light {
  content: url("../../public/logos/linkedin/linkedin.svg");
}

.ci-louisvuitton-light,
.ci-lv-light {
  content: url("../../public/logos/louisvuitton/louisvuitton-light.svg");
}

.ci-louisvuitton-wordmark-light,
.ci-lv-wordmark-light {
  content: url("../../public/logos/louisvuitton/louisvuitton-wordmark-light.svg");
}

.ci-louisvuitton-wordmark,
.ci-louisvuitton-wordmark-dark,
.ci-lv-wordmark,
.ci-lv-wordmark-dark {
  content: url("../../public/logos/louisvuitton/louisvuitton-wordmark.svg");
}

.ci-louisvuitton,
.ci-louisvuitton-dark,
.ci-lv,
.ci-lv-dark {
  content: url("../../public/logos/louisvuitton/louisvuitton.svg");
}

.ci-mastercard,
.ci-mastercard-dark,
.ci-mastercard-light {
  content: url("../../public/logos/mastercard/mastercard.svg");
}

.ci-mcdonalds,
.ci-mcdonalds-dark,
.ci-mcdonalds-light {
  content: url("../../public/logos/mcdonalds/mcdonalds.svg");
}

.ci-mercedes-stacked-light,
.ci-mercedes-vertical-light {
  content: url("../../public/logos/mercedes/mercedes-vertical-light.svg");
}

.ci-mercedes-stacked,
.ci-mercedes-stacked-dark,
.ci-mercedes-vertical,
.ci-mercedes-vertical-dark {
  content: url("../../public/logos/mercedes/mercedes-vertical.svg");
}

.ci-mercedes,
.ci-mercedes-dark,
.ci-mercedes-light {
  content: url("../../public/logos/mercedes/mercedes.svg");
}

.ci-merck-horizontal,
.ci-merck-horizontal-dark,
.ci-merck-horizontal-light,
.ci-merck-inline,
.ci-merck-inline-dark,
.ci-merck-inline-light {
  content: url("../../public/logos/merck/merck-horizontal.svg");
}

.ci-merck,
.ci-merck-dark,
.ci-merck-light {
  content: url("../../public/logos/merck/merck.svg");
}

.ci-meta-horizontal-light,
.ci-meta-inline-light {
  content: url("../../public/logos/meta/meta-horizontal-light.svg");
}

.ci-meta-horizontal,
.ci-meta-horizontal-dark,
.ci-meta-inline,
.ci-meta-inline-dark {
  content: url("../../public/logos/meta/meta-horizontal.svg");
}

.ci-meta,
.ci-meta-dark,
.ci-meta-light {
  content: url("../../public/logos/meta/meta.svg");
}

.ci-metamask-horizontal,
.ci-metamask-horizontal-dark,
.ci-metamask-horizontal-light,
.ci-metamask-inline,
.ci-metamask-inline-dark,
.ci-metamask-inline-light {
  content: url("../../public/logos/metamask/metamask-horizontal.svg");
}

.ci-metamask-stacked,
.ci-metamask-stacked-dark,
.ci-metamask-stacked-light,
.ci-metamask-vertical,
.ci-metamask-vertical-dark,
.ci-metamask-vertical-light {
  content: url("../../public/logos/metamask/metamask-vertical.svg");
}

.ci-metamask,
.ci-metamask-dark,
.ci-metamask-light {
  content: url("../../public/logos/metamask/metamask.svg");
}

.ci-microsoft-horizontal-light,
.ci-microsoft-inline-light,
.ci-ms-horizontal-light,
.ci-ms-inline-light,
.ci-msft-horizontal-light,
.ci-msft-inline-light {
  content: url("../../public/logos/microsoft/microsoft-horizontal-light.png");
}

.ci-microsoft-horizontal,
.ci-microsoft-horizontal-dark,
.ci-microsoft-inline,
.ci-microsoft-inline-dark,
.ci-ms-horizontal,
.ci-ms-horizontal-dark,
.ci-ms-inline,
.ci-ms-inline-dark,
.ci-msft-horizontal,
.ci-msft-horizontal-dark,
.ci-msft-inline,
.ci-msft-inline-dark {
  content: url("../../public/logos/microsoft/microsoft-horizontal.svg");
}

.ci-microsoft,
.ci-microsoft-dark,
.ci-microsoft-light,
.ci-ms,
.ci-ms-dark,
.ci-ms-light,
.ci-msft,
.ci-msft-dark,
.ci-msft-light {
  content: url("../../public/logos/microsoft/microsoft.svg");
}

.ci-mixcloud-light {
  content: url("../../public/logos/mixcloud/mixcloud-light.png");
}

.ci-mixcloud-wordmark-light {
  content: url("../../public/logos/mixcloud/mixcloud-wordmark-light.png");
}

.ci-mixcloud-wordmark,
.ci-mixcloud-wordmark-dark {
  content: url("../../public/logos/mixcloud/mixcloud-wordmark.png");
}

.ci-mixcloud,
.ci-mixcloud-dark {
  content: url("../../public/logos/mixcloud/mixcloud.png");
}

.ci-mixcloud2-wordmark,
.ci-mixcloud2-wordmark-dark,
.ci-mixcloud2-wordmark-light {
  content: url("../../public/logos/mixcloud/mixcloud2-wordmark.png");
}

.ci-mixcloud2,
.ci-mixcloud2-dark,
.ci-mixcloud2-light {
  content: url("../../public/logos/mixcloud/mixcloud2.png");
}

.ci-mixcloud3-wordmark,
.ci-mixcloud3-wordmark-dark,
.ci-mixcloud3-wordmark-light {
  content: url("../../public/logos/mixcloud/mixcloud3-wordmark.png");
}

.ci-mixcloud3,
.ci-mixcloud3-dark,
.ci-mixcloud3-light {
  content: url("../../public/logos/mixcloud/mixcloud3.png");
}

.ci-mongodb-horizontal,
.ci-mongodb-horizontal-dark,
.ci-mongodb-horizontal-light,
.ci-mongodb-inline,
.ci-mongodb-inline-dark,
.ci-mongodb-inline-light {
  content: url("../../public/logos/mongodb/mongodb-horizontal.svg");
}

.ci-mongodb,
.ci-mongodb-dark,
.ci-mongodb-light {
  content: url("../../public/logos/mongodb/mongodb.svg");
}

.ci-mongodb2-horizontal,
.ci-mongodb2-horizontal-dark,
.ci-mongodb2-horizontal-light,
.ci-mongodb2-inline,
.ci-mongodb2-inline-dark,
.ci-mongodb2-inline-light {
  content: url("../../public/logos/mongodb/mongodb2-horizontal.svg");
}

.ci-mongodb2,
.ci-mongodb2-dark,
.ci-mongodb2-light {
  content: url("../../public/logos/mongodb/mongodb2.svg");
}

.ci-mui,
.ci-mui-dark,
.ci-mui-light {
  content: url("../../public/logos/mui/mui.svg");
}

.ci-mysql-stacked,
.ci-mysql-stacked-dark,
.ci-mysql-stacked-light,
.ci-mysql-vertical,
.ci-mysql-vertical-dark,
.ci-mysql-vertical-light {
  content: url("../../public/logos/mysql/mysql-vertical.svg");
}

.ci-mysql,
.ci-mysql-dark,
.ci-mysql-light {
  content: url("../../public/logos/mysql/mysql.svg");
}

.ci-nestle-stacked,
.ci-nestle-stacked-dark,
.ci-nestle-stacked-light,
.ci-nestle-vertical,
.ci-nestle-vertical-dark,
.ci-nestle-vertical-light {
  content: url("../../public/logos/nestle/nestle-vertical.svg");
}

.ci-nestle,
.ci-nestle-dark,
.ci-nestle-light {
  content: url("../../public/logos/nestle/nestle.svg");
}

.ci-netflix-wordmark,
.ci-netflix-wordmark-dark,
.ci-netflix-wordmark-light {
  content: url("../../public/logos/netflix/netflix-wordmark.svg");
}

.ci-netflix,
.ci-netflix-dark,
.ci-netflix-light {
  content: url("../../public/logos/netflix/netflix.png");
}

.ci-netlify-light {
  content: url("../../public/logos/netlify/netlify-light.svg");
}

.ci-netlify-wordmark-light {
  content: url("../../public/logos/netlify/netlify-wordmark-light.svg");
}

.ci-netlify-wordmark,
.ci-netlify-wordmark-dark {
  content: url("../../public/logos/netlify/netlify-wordmark.svg");
}

.ci-netlify,
.ci-netlify-dark {
  content: url("../../public/logos/netlify/netlify.svg");
}

.ci-next-horizontal-light,
.ci-next-inline-light,
.ci-nextjs-horizontal-light,
.ci-nextjs-inline-light {
  content: url("../../public/logos/nextjs/nextjs-horizontal-light.svg");
}

.ci-next-horizontal,
.ci-next-horizontal-dark,
.ci-next-inline,
.ci-next-inline-dark,
.ci-nextjs-horizontal,
.ci-nextjs-horizontal-dark,
.ci-nextjs-inline,
.ci-nextjs-inline-dark {
  content: url("../../public/logos/nextjs/nextjs-horizontal.svg");
}

.ci-next-light,
.ci-nextjs-light {
  content: url("../../public/logos/nextjs/nextjs-light.svg");
}

.ci-next,
.ci-next-dark,
.ci-nextjs,
.ci-nextjs-dark {
  content: url("../../public/logos/nextjs/nextjs.svg");
}

.ci-nike-light {
  content: url("../../public/logos/nike/nike-light.svg");
}

.ci-nike,
.ci-nike-dark {
  content: url("../../public/logos/nike/nike.svg");
}

.ci-node-horizontal-light,
.ci-node-inline-light,
.ci-nodejs-horizontal-light,
.ci-nodejs-inline-light {
  content: url("../../public/logos/nodejs/nodejs-horizontal-light.svg");
}

.ci-node-horizontal,
.ci-node-horizontal-dark,
.ci-node-inline,
.ci-node-inline-dark,
.ci-nodejs-horizontal,
.ci-nodejs-horizontal-dark,
.ci-nodejs-inline,
.ci-nodejs-inline-dark {
  content: url("../../public/logos/nodejs/nodejs-horizontal.svg");
}

.ci-node-stacked-light,
.ci-node-vertical-light,
.ci-nodejs-stacked-light,
.ci-nodejs-vertical-light {
  content: url("../../public/logos/nodejs/nodejs-vertical-light.svg");
}

.ci-node-stacked,
.ci-node-stacked-dark,
.ci-node-vertical,
.ci-node-vertical-dark,
.ci-nodejs-stacked,
.ci-nodejs-stacked-dark,
.ci-nodejs-vertical,
.ci-nodejs-vertical-dark {
  content: url("../../public/logos/nodejs/nodejs-vertical.svg");
}

.ci-node,
.ci-node-dark,
.ci-node-light,
.ci-nodejs,
.ci-nodejs-dark,
.ci-nodejs-light {
  content: url("../../public/logos/nodejs/nodejs.svg");
}

.ci-novartis-horizontal,
.ci-novartis-horizontal-dark,
.ci-novartis-horizontal-light,
.ci-novartis-inline,
.ci-novartis-inline-dark,
.ci-novartis-inline-light {
  content: url("../../public/logos/novartis/novartis-horizontal.svg");
}

.ci-novartis,
.ci-novartis-dark,
.ci-novartis-light {
  content: url("../../public/logos/novartis/novartis.svg");
}

.ci-npm-wordmark,
.ci-npm-wordmark-dark,
.ci-npm-wordmark-light {
  content: url("../../public/logos/npm/npm-wordmark.svg");
}

.ci-npm,
.ci-npm-dark,
.ci-npm-light {
  content: url("../../public/logos/npm/npm.svg");
}

.ci-nuxt-horizontal-light,
.ci-nuxt-inline-light,
.ci-nuxtjs-horizontal-light,
.ci-nuxtjs-inline-light {
  content: url("../../public/logos/nuxtjs/nuxtjs-horizontal-light.svg");
}

.ci-nuxt-horizontal,
.ci-nuxt-horizontal-dark,
.ci-nuxt-inline,
.ci-nuxt-inline-dark,
.ci-nuxtjs-horizontal,
.ci-nuxtjs-horizontal-dark,
.ci-nuxtjs-inline,
.ci-nuxtjs-inline-dark {
  content: url("../../public/logos/nuxtjs/nuxtjs-horizontal.svg");
}

.ci-nuxt,
.ci-nuxt-dark,
.ci-nuxt-light,
.ci-nuxtjs,
.ci-nuxtjs-dark,
.ci-nuxtjs-light {
  content: url("../../public/logos/nuxtjs/nuxtjs.svg");
}

.ci-ola,
.ci-ola-dark,
.ci-ola-wordmark,
.ci-ola-wordmark-dark {
  content: url("../../public/logos/ola/ola-wordmark.svg");
}

.ci-opensea-horizontal,
.ci-opensea-horizontal-dark,
.ci-opensea-horizontal-light,
.ci-opensea-inline,
.ci-opensea-inline-dark,
.ci-opensea-inline-light {
  content: url("../../public/logos/opensea/opensea-horizontal.svg");
}

.ci-opensea,
.ci-opensea-dark,
.ci-opensea-light {
  content: url("../../public/logos/opensea/opensea.svg");
}

.ci-opensea2-horizontal,
.ci-opensea2-horizontal-dark,
.ci-opensea2-horizontal-light,
.ci-opensea2-inline,
.ci-opensea2-inline-dark,
.ci-opensea2-inline-light {
  content: url("../../public/logos/opensea/opensea2-horizontal.svg");
}

.ci-opensea2,
.ci-opensea2-dark,
.ci-opensea2-light {
  content: url("../../public/logos/opensea/opensea2.svg");
}

.ci-opensea3,
.ci-opensea3-dark,
.ci-opensea3-light {
  content: url("../../public/logos/opensea/opensea3.svg");
}

.ci-payoneer-horizontal-light,
.ci-payoneer-inline-light {
  content: url("../../public/logos/payoneer/payoneer-horizontal-light.svg");
}

.ci-payoneer-horizontal,
.ci-payoneer-horizontal-dark,
.ci-payoneer-inline,
.ci-payoneer-inline-dark {
  content: url("../../public/logos/payoneer/payoneer-horizontal.svg");
}

.ci-payoneer-stacked-light,
.ci-payoneer-vertical-light {
  content: url("../../public/logos/payoneer/payoneer-vertical-light.svg");
}

.ci-payoneer-stacked,
.ci-payoneer-stacked-dark,
.ci-payoneer-vertical,
.ci-payoneer-vertical-dark {
  content: url("../../public/logos/payoneer/payoneer-vertical.svg");
}

.ci-payoneer,
.ci-payoneer-dark,
.ci-payoneer-light {
  content: url("../../public/logos/payoneer/payoneer.png");
}

.ci-paypal-horizontal,
.ci-paypal-horizontal-dark,
.ci-paypal-horizontal-light,
.ci-paypal-inline,
.ci-paypal-inline-dark,
.ci-paypal-inline-light {
  content: url("../../public/logos/paypal/paypal-horizontal.svg");
}

.ci-paypal,
.ci-paypal-dark,
.ci-paypal-light {
  content: url("../../public/logos/paypal/paypal.svg");
}

.ci-paytm-wordmark,
.ci-paytm-wordmark-dark,
.ci-paytm-wordmark-light {
  content: url("../../public/logos/paytm/paytm-wordmark.svg");
}

.ci-paytm,
.ci-paytm-dark,
.ci-paytm-light {
  content: url("../../public/logos/paytm/paytm.jpeg");
}

.ci-perl,
.ci-perl-dark,
.ci-perl-light {
  content: url("../../public/logos/perl/perl.svg");
}

.ci-pfizer-wordmark,
.ci-pfizer-wordmark-dark,
.ci-pfizer-wordmark-light {
  content: url("../../public/logos/pfizer/pfizer-wordmark.svg");
}

.ci-pfizer,
.ci-pfizer-dark,
.ci-pfizer-light {
  content: url("../../public/logos/pfizer/pfizer.svg");
}

.ci-phonepe-horizontal,
.ci-phonepe-horizontal-dark,
.ci-phonepe-horizontal-light,
.ci-phonepe-inline,
.ci-phonepe-inline-dark,
.ci-phonepe-inline-light {
  content: url("../../public/logos/phonepe/phonepe-horizontal.svg");
}

.ci-phonepe,
.ci-phonepe-dark,
.ci-phonepe-light {
  content: url("../../public/logos/phonepe/phonepe.svg");
}

.ci-php-wordmark-light {
  content: url("../../public/logos/php/php-wordmark-light.svg");
}

.ci-php-wordmark,
.ci-php-wordmark-dark {
  content: url("../../public/logos/php/php-wordmark.svg");
}

.ci-php,
.ci-php-dark,
.ci-php-light {
  content: url("../../public/logos/php/php.svg");
}

.ci-pinia,
.ci-pinia-dark,
.ci-pinia-light {
  content: url("../../public/logos/pinia/pinia.svg");
}

.ci-pinterest-horizontal,
.ci-pinterest-horizontal-dark,
.ci-pinterest-horizontal-light,
.ci-pinterest-inline,
.ci-pinterest-inline-dark,
.ci-pinterest-inline-light {
  content: url("../../public/logos/pinterest/pinterest-horizontal.svg");
}

.ci-pinterest,
.ci-pinterest-dark,
.ci-pinterest-light {
  content: url("../../public/logos/pinterest/pinterest.svg");
}

.ci-pluto,
.ci-pluto-dark,
.ci-pluto-light {
  content: url("../../public/logos/pluto/pluto.png");
}

.ci-polygon-io-stacked,
.ci-polygon-io-stacked-dark,
.ci-polygon-io-stacked-light,
.ci-polygon-io-vertical,
.ci-polygon-io-vertical-dark,
.ci-polygon-io-vertical-light {
  content: url("../../public/logos/polygon-io/polygon-io-vertical.svg");
}

.ci-polygon-io-wordmark,
.ci-polygon-io-wordmark-dark,
.ci-polygon-io-wordmark-light {
  content: url("../../public/logos/polygon-io/polygon-io-wordmark.svg");
}

.ci-polygon-io,
.ci-polygon-io-dark,
.ci-polygon-io-light {
  content: url("../../public/logos/polygon-io/polygon-io.svg");
}

.ci-porsche-stacked,
.ci-porsche-stacked-dark,
.ci-porsche-stacked-light,
.ci-porsche-vertical,
.ci-porsche-vertical-dark,
.ci-porsche-vertical-light {
  content: url("../../public/logos/porsche/porsche-vertical.svg");
}

.ci-porsche,
.ci-porsche-dark,
.ci-porsche-light {
  content: url("../../public/logos/porsche/porsche.svg");
}

.ci-postgresql,
.ci-postgresql-dark,
.ci-postgresql-light {
  content: url("../../public/logos/postgresql/postgresql.svg");
}

.ci-postman-horizontal,
.ci-postman-horizontal-dark,
.ci-postman-horizontal-light,
.ci-postman-inline,
.ci-postman-inline-dark,
.ci-postman-inline-light {
  content: url("../../public/logos/postman/postman-horizontal.svg");
}

.ci-postman,
.ci-postman-dark,
.ci-postman-light {
  content: url("../../public/logos/postman/postman.svg");
}

.ci-puma-horizontal-light,
.ci-puma-inline-light {
  content: url("../../public/logos/puma/puma-horizontal-light.svg");
}

.ci-puma-horizontal,
.ci-puma-horizontal-dark,
.ci-puma-inline,
.ci-puma-inline-dark {
  content: url("../../public/logos/puma/puma-horizontal.svg");
}

.ci-puma-light {
  content: url("../../public/logos/puma/puma-light.svg");
}

.ci-puma,
.ci-puma-dark {
  content: url("../../public/logos/puma/puma.svg");
}

.ci-python-horizontal,
.ci-python-horizontal-dark,
.ci-python-horizontal-light,
.ci-python-inline,
.ci-python-inline-dark,
.ci-python-inline-light {
  content: url("../../public/logos/python/python-horizontal.svg");
}

.ci-python-powered,
.ci-python-powered-dark,
.ci-python-powered-light {
  content: url("../../public/logos/python/python-powered.svg");
}

.ci-python,
.ci-python-dark,
.ci-python-light {
  content: url("../../public/logos/python/python.svg");
}

.ci-python2-powered,
.ci-python2-powered-dark,
.ci-python2-powered-light {
  content: url("../../public/logos/python/python2-powered.svg");
}

.ci-pytorch-horizontal,
.ci-pytorch-horizontal-dark,
.ci-pytorch-horizontal-light,
.ci-pytorch-inline,
.ci-pytorch-inline-dark,
.ci-pytorch-inline-light {
  content: url("../../public/logos/pytorch/pytorch-horizontal.svg");
}

.ci-pytorch,
.ci-pytorch-dark,
.ci-pytorch-light {
  content: url("../../public/logos/pytorch/pytorch.svg");
}

.ci-r,
.ci-r-dark,
.ci-r-light {
  content: url("../../public/logos/r/r.svg");
}

.ci-railway-horizontal-light,
.ci-railway-inline-light {
  content: url("../../public/logos/railway/railway-horizontal-light.svg");
}

.ci-railway-horizontal,
.ci-railway-horizontal-dark,
.ci-railway-inline,
.ci-railway-inline-dark {
  content: url("../../public/logos/railway/railway-horizontal.svg");
}

.ci-railway-light {
  content: url("../../public/logos/railway/railway-light.svg");
}

.ci-railway,
.ci-railway-dark {
  content: url("../../public/logos/railway/railway.svg");
}

.ci-rayban,
.ci-rayban-dark,
.ci-rayban-wordmark,
.ci-rayban-wordmark-dark {
  content: url("../../public/logos/rayban/rayban-wordmark.svg");
}

.ci-razorpay-horizontal,
.ci-razorpay-horizontal-dark,
.ci-razorpay-horizontal-light,
.ci-razorpay-inline,
.ci-razorpay-inline-dark,
.ci-razorpay-inline-light {
  content: url("../../public/logos/razorpay/razorpay-horizontal.svg");
}

.ci-razorpay,
.ci-razorpay-dark,
.ci-razorpay-light {
  content: url("../../public/logos/razorpay/razorpay.png");
}

.ci-react-native,
.ci-react-native-dark,
.ci-react-native-light {
  content: url("../../public/logos/react-native/react-native.svg");
}

.ci-reactjs,
.ci-reactjs-dark,
.ci-reactjs-light {
  content: url("../../public/logos/reactjs/reactjs.svg");
}

.ci-reddit-horizontal-light,
.ci-reddit-inline-light {
  content: url("../../public/logos/reddit/reddit-horizontal-light.svg");
}

.ci-reddit-horizontal,
.ci-reddit-horizontal-dark,
.ci-reddit-inline,
.ci-reddit-inline-dark {
  content: url("../../public/logos/reddit/reddit-horizontal.svg");
}

.ci-reddit,
.ci-reddit-dark,
.ci-reddit-light {
  content: url("../../public/logos/reddit/reddit.svg");
}

.ci-redis-enterprise,
.ci-redis-enterprise-dark,
.ci-redis-enterprise-light {
  content: url("../../public/logos/redis/redis-enterprise.svg");
}

.ci-redis-horizontal-light,
.ci-redis-inline-light {
  content: url("../../public/logos/redis/redis-horizontal-light.svg");
}

.ci-redis-horizontal,
.ci-redis-horizontal-dark,
.ci-redis-inline,
.ci-redis-inline-dark {
  content: url("../../public/logos/redis/redis-horizontal.svg");
}

.ci-redis,
.ci-redis-dark,
.ci-redis-light {
  content: url("../../public/logos/redis/redis.svg");
}

.ci-redux,
.ci-redux-dark,
.ci-redux-light {
  content: url("../../public/logos/redux/redux.svg");
}

.ci-rc-wordmark,
.ci-rc-wordmark-dark,
.ci-rc-wordmark-light,
.ci-ringcentral-wordmark,
.ci-ringcentral-wordmark-dark,
.ci-ringcentral-wordmark-light {
  content: url("../../public/logos/ringcentral/ringcentral-wordmark.svg");
}

.ci-rc,
.ci-rc-dark,
.ci-rc-light,
.ci-ringcentral,
.ci-ringcentral-dark,
.ci-ringcentral-light {
  content: url("../../public/logos/ringcentral/ringcentral.png");
}

.ci-roche,
.ci-roche-dark,
.ci-roche-wordmark,
.ci-roche-wordmark-dark {
  content: url("../../public/logos/roche/roche-wordmark.svg");
}

.ci-ruby,
.ci-ruby-dark,
.ci-ruby-light {
  content: url("../../public/logos/ruby/ruby.svg");
}

.ci-rust,
.ci-rust-dark,
.ci-rust-light {
  content: url("../../public/logos/rust/rust.svg");
}

.ci-sanity-wordmark,
.ci-sanity-wordmark-dark,
.ci-sanity-wordmark-light {
  content: url("../../public/logos/sanity/sanity-wordmark.svg");
}

.ci-sanity,
.ci-sanity-dark,
.ci-sanity-light {
  content: url("../../public/logos/sanity/sanity.webp");
}

.ci-sanofi-wordmark,
.ci-sanofi-wordmark-dark,
.ci-sanofi-wordmark-light {
  content: url("../../public/logos/sanofi/sanofi-wordmark.svg");
}

.ci-sanofi,
.ci-sanofi-dark,
.ci-sanofi-light {
  content: url("../../public/logos/sanofi/sanofi.svg");
}

.ci-sass-wordmark,
.ci-sass-wordmark-dark,
.ci-sass-wordmark-light {
  content: url("../../public/logos/sass/sass-wordmark.svg");
}

.ci-sass,
.ci-sass-dark,
.ci-sass-light {
  content: url("../../public/logos/sass/sass.png");
}

.ci-scala-horizontal,
.ci-scala-horizontal-dark,
.ci-scala-horizontal-light,
.ci-scala-inline,
.ci-scala-inline-dark,
.ci-scala-inline-light {
  content: url("../../public/logos/scala/scala-horizontal.svg");
}

.ci-scala,
.ci-scala-dark,
.ci-scala-light {
  content: url("../../public/logos/scala/scala.svg");
}

.ci-snapchat,
.ci-snapchat-dark,
.ci-snapchat-light {
  content: url("../../public/logos/snapchat/snapchat.svg");
}

.ci-solana-horizontal-light,
.ci-solana-inline-light {
  content: url("../../public/logos/solana/solana-horizontal-light.svg");
}

.ci-solana-horizontal,
.ci-solana-horizontal-dark,
.ci-solana-inline,
.ci-solana-inline-dark {
  content: url("../../public/logos/solana/solana-horizontal.svg");
}

.ci-solana,
.ci-solana-dark,
.ci-solana-light {
  content: url("../../public/logos/solana/solana.svg");
}

.ci-solidity,
.ci-solidity-dark,
.ci-solidity-light {
  content: url("../../public/logos/solidity/solidity.svg");
}

.ci-soundcloud-horizontal,
.ci-soundcloud-horizontal-dark,
.ci-soundcloud-horizontal-light,
.ci-soundcloud-inline,
.ci-soundcloud-inline-dark,
.ci-soundcloud-inline-light {
  content: url("../../public/logos/soundcloud/soundcloud-horizontal.svg");
}

.ci-soundcloud,
.ci-soundcloud-dark,
.ci-soundcloud-light {
  content: url("../../public/logos/soundcloud/soundcloud.svg");
}

.ci-spotify-horizontal,
.ci-spotify-horizontal-dark,
.ci-spotify-horizontal-light,
.ci-spotify-inline,
.ci-spotify-inline-dark,
.ci-spotify-inline-light {
  content: url("../../public/logos/spotify/spotify-horizontal.svg");
}

.ci-spotify,
.ci-spotify-dark,
.ci-spotify-light {
  content: url("../../public/logos/spotify/spotify.svg");
}

.ci-spotify2-horizontal,
.ci-spotify2-horizontal-dark,
.ci-spotify2-horizontal-light,
.ci-spotify2-inline,
.ci-spotify2-inline-dark,
.ci-spotify2-inline-light {
  content: url("../../public/logos/spotify/spotify2-horizontal.png");
}

.ci-spring,
.ci-spring-dark,
.ci-spring-light {
  content: url("../../public/logos/spring/spring.svg");
}

.ci-starbucks-wordmark,
.ci-starbucks-wordmark-dark,
.ci-starbucks-wordmark-light {
  content: url("../../public/logos/starbucks/starbucks-wordmark.svg");
}

.ci-starbucks,
.ci-starbucks-dark,
.ci-starbucks-light {
  content: url("../../public/logos/starbucks/starbucks.svg");
}

.ci-stripe-wordmark,
.ci-stripe-wordmark-dark,
.ci-stripe-wordmark-light {
  content: url("../../public/logos/stripe/stripe-wordmark.svg");
}

.ci-stripe,
.ci-stripe-dark,
.ci-stripe-light {
  content: url("../../public/logos/stripe/stripe.jpeg");
}

.ci-supabase-horizontal-light,
.ci-supabase-inline-light {
  content: url("../../public/logos/supabase/supabase-horizontal-light.svg");
}

.ci-supabase-horizontal,
.ci-supabase-horizontal-dark,
.ci-supabase-inline,
.ci-supabase-inline-dark {
  content: url("../../public/logos/supabase/supabase-horizontal.svg");
}

.ci-supabase,
.ci-supabase-dark,
.ci-supabase-light {
  content: url("../../public/logos/supabase/supabase.svg");
}

.ci-svelte-horizontal,
.ci-svelte-horizontal-dark,
.ci-svelte-horizontal-light,
.ci-svelte-inline,
.ci-svelte-inline-dark,
.ci-svelte-inline-light {
  content: url("../../public/logos/svelte/svelte-horizontal.svg");
}

.ci-svelte,
.ci-svelte-dark,
.ci-svelte-light {
  content: url("../../public/logos/svelte/svelte.svg");
}

.ci-swift-horizontal,
.ci-swift-horizontal-dark,
.ci-swift-horizontal-light,
.ci-swift-inline,
.ci-swift-inline-dark,
.ci-swift-inline-light {
  content: url("../../public/logos/swift/swift-horizontal.svg");
}

.ci-swift,
.ci-swift-dark,
.ci-swift-light {
  content: url("../../public/logos/swift/swift.svg");
}

.ci-tailwind-horizontal-light,
.ci-tailwind-inline-light {
  content: url("../../public/logos/tailwind/tailwind-horizontal-light.svg");
}

.ci-tailwind-horizontal,
.ci-tailwind-horizontal-dark,
.ci-tailwind-inline,
.ci-tailwind-inline-dark {
  content: url("../../public/logos/tailwind/tailwind-horizontal.svg");
}

.ci-tailwind,
.ci-tailwind-dark,
.ci-tailwind-light {
  content: url("../../public/logos/tailwind/tailwind.svg");
}

.ci-telegram,
.ci-telegram-dark,
.ci-telegram-light {
  content: url("../../public/logos/telegram/telegram.svg");
}

.ci-telegram2,
.ci-telegram2-dark,
.ci-telegram2-light {
  content: url("../../public/logos/telegram/telegram2.svg");
}

.ci-tesla-square,
.ci-tesla-square-dark,
.ci-tesla-square-light {
  content: url("../../public/logos/tesla/tesla-square.png");
}

.ci-tesla-wordmark,
.ci-tesla-wordmark-dark,
.ci-tesla-wordmark-light {
  content: url("../../public/logos/tesla/tesla-wordmark.svg");
}

.ci-tesla,
.ci-tesla-dark,
.ci-tesla-light {
  content: url("../../public/logos/tesla/tesla.svg");
}

.ci-tiktok-circle-light {
  content: url("../../public/logos/tiktok/tiktok-circle-light.svg");
}

.ci-tiktok-circle,
.ci-tiktok-circle-dark {
  content: url("../../public/logos/tiktok/tiktok-circle.svg");
}

.ci-tiktok-horizontal-light,
.ci-tiktok-inline-light {
  content: url("../../public/logos/tiktok/tiktok-horizontal-light.svg");
}

.ci-tiktok-horizontal,
.ci-tiktok-horizontal-dark,
.ci-tiktok-inline,
.ci-tiktok-inline-dark {
  content: url("../../public/logos/tiktok/tiktok-horizontal.svg");
}

.ci-tiktok-light {
  content: url("../../public/logos/tiktok/tiktok-light.svg");
}

.ci-tiktok-rounded-square-light {
  content: url("../../public/logos/tiktok/tiktok-rounded-square-light.svg");
}

.ci-tiktok-rounded-square,
.ci-tiktok-rounded-square-dark {
  content: url("../../public/logos/tiktok/tiktok-rounded-square.svg");
}

.ci-tiktok-square-light {
  content: url("../../public/logos/tiktok/tiktok-square-light.svg");
}

.ci-tiktok-square,
.ci-tiktok-square-dark {
  content: url("../../public/logos/tiktok/tiktok-square.svg");
}

.ci-tiktok-stacked-light,
.ci-tiktok-vertical-light {
  content: url("../../public/logos/tiktok/tiktok-vertical-light.svg");
}

.ci-tiktok-stacked,
.ci-tiktok-stacked-dark,
.ci-tiktok-vertical,
.ci-tiktok-vertical-dark {
  content: url("../../public/logos/tiktok/tiktok-vertical.svg");
}

.ci-tiktok,
.ci-tiktok-dark {
  content: url("../../public/logos/tiktok/tiktok.svg");
}

.ci-tmdb,
.ci-tmdb-dark,
.ci-tmdb-light {
  content: url("../../public/logos/tmdb/tmdb.svg");
}

.ci-ts-circle,
.ci-ts-circle-dark,
.ci-ts-circle-light {
  content: url("../../public/logos/ts/ts-circle.svg");
}

.ci-ts-wordmark,
.ci-ts-wordmark-dark,
.ci-ts-wordmark-light {
  content: url("../../public/logos/ts/ts-wordmark.svg");
}

.ci-ts,
.ci-ts-dark,
.ci-ts-light {
  content: url("../../public/logos/ts/ts.svg");
}

.ci-twitch-wordmark,
.ci-twitch-wordmark-dark,
.ci-twitch-wordmark-light {
  content: url("../../public/logos/twitch/twitch-wordmark.svg");
}

.ci-twitch,
.ci-twitch-dark,
.ci-twitch-light {
  content: url("../../public/logos/twitch/twitch.svg");
}

.ci-twitter-circle,
.ci-twitter-circle-dark,
.ci-twitter-circle-light {
  content: url("../../public/logos/twitter/twitter-circle.svg");
}

.ci-twitter-rounded-square,
.ci-twitter-rounded-square-dark,
.ci-twitter-rounded-square-light {
  content: url("../../public/logos/twitter/twitter-rounded-square.svg");
}

.ci-twitter-square,
.ci-twitter-square-dark,
.ci-twitter-square-light {
  content: url("../../public/logos/twitter/twitter-square.svg");
}

.ci-twitter,
.ci-twitter-dark,
.ci-twitter-light {
  content: url("../../public/logos/twitter/twitter.svg");
}

.ci-uber-light,
.ci-uber-wordmark-light {
  content: url("../../public/logos/uber/uber-wordmark-light.svg");
}

.ci-uber,
.ci-uber-dark,
.ci-uber-wordmark,
.ci-uber-wordmark-dark {
  content: url("../../public/logos/uber/uber-wordmark.svg");
}

.ci-vercel-horizontal-light,
.ci-vercel-inline-light {
  content: url("../../public/logos/vercel/vercel-horizontal-light.svg");
}

.ci-vercel-horizontal,
.ci-vercel-horizontal-dark,
.ci-vercel-inline,
.ci-vercel-inline-dark {
  content: url("../../public/logos/vercel/vercel-horizontal.svg");
}

.ci-vercel-light {
  content: url("../../public/logos/vercel/vercel-light.svg");
}

.ci-vercel,
.ci-vercel-dark {
  content: url("../../public/logos/vercel/vercel.svg");
}

.ci-vimeo-wordmark,
.ci-vimeo-wordmark-dark,
.ci-vimeo-wordmark-light {
  content: url("../../public/logos/vimeo/vimeo-wordmark.svg");
}

.ci-vimeo,
.ci-vimeo-dark,
.ci-vimeo-light {
  content: url("../../public/logos/vimeo/vimeo.svg");
}

.ci-vimeo2,
.ci-vimeo2-dark,
.ci-vimeo2-light {
  content: url("../../public/logos/vimeo/vimeo2.svg");
}

.ci-virgin,
.ci-virgin-dark,
.ci-virgin-light {
  content: url("../../public/logos/virgin/virgin.svg");
}

.ci-visa,
.ci-visa-dark,
.ci-visa-wordmark,
.ci-visa-wordmark-dark {
  content: url("../../public/logos/visa/visa-wordmark.svg");
}

.ci-vscode,
.ci-vscode-dark,
.ci-vscode-light {
  content: url("../../public/logos/vscode/vscode.svg");
}

.ci-vuejs,
.ci-vuejs-dark,
.ci-vuejs-light {
  content: url("../../public/logos/vuejs/vuejs.svg");
}

.ci-web3js,
.ci-web3js-dark,
.ci-web3js-light {
  content: url("../../public/logos/web3js/web3js.png");
}

.ci-wendys,
.ci-wendys-dark,
.ci-wendys-light {
  content: url("../../public/logos/wendys/wendys.svg");
}

.ci-whatsapp-horizontal,
.ci-whatsapp-horizontal-dark,
.ci-whatsapp-horizontal-light,
.ci-whatsapp-inline,
.ci-whatsapp-inline-dark,
.ci-whatsapp-inline-light {
  content: url("../../public/logos/whatsapp/whatsapp-horizontal.svg");
}

.ci-whatsapp-stacked,
.ci-whatsapp-stacked-dark,
.ci-whatsapp-stacked-light,
.ci-whatsapp-vertical,
.ci-whatsapp-vertical-dark,
.ci-whatsapp-vertical-light {
  content: url("../../public/logos/whatsapp/whatsapp-vertical.svg");
}

.ci-whatsapp,
.ci-whatsapp-dark,
.ci-whatsapp-light {
  content: url("../../public/logos/whatsapp/whatsapp.svg");
}

.ci-whatsapp2-horizontal,
.ci-whatsapp2-horizontal-dark,
.ci-whatsapp2-horizontal-light,
.ci-whatsapp2-inline,
.ci-whatsapp2-inline-dark,
.ci-whatsapp2-inline-light {
  content: url("../../public/logos/whatsapp/whatsapp2-horizontal.svg");
}

.ci-whatsapp2-stacked,
.ci-whatsapp2-stacked-dark,
.ci-whatsapp2-stacked-light,
.ci-whatsapp2-vertical,
.ci-whatsapp2-vertical-dark,
.ci-whatsapp2-vertical-light {
  content: url("../../public/logos/whatsapp/whatsapp2-vertical.svg");
}

.ci-whatsapp2,
.ci-whatsapp2-dark,
.ci-whatsapp2-light {
  content: url("../../public/logos/whatsapp/whatsapp2.svg");
}

.ci-x-light {
  content: url("../../public/logos/x/x-light.svg");
}

.ci-x,
.ci-x-dark {
  content: url("../../public/logos/x/x.svg");
}

.ci-youtube-horizontal,
.ci-youtube-horizontal-dark,
.ci-youtube-horizontal-light,
.ci-youtube-inline,
.ci-youtube-inline-dark,
.ci-youtube-inline-light,
.ci-yt-horizontal,
.ci-yt-horizontal-dark,
.ci-yt-horizontal-light,
.ci-yt-inline,
.ci-yt-inline-dark,
.ci-yt-inline-light {
  content: url("../../public/logos/youtube/youtube-horizontal.svg");
}

.ci-youtube,
.ci-youtube-dark,
.ci-youtube-light,
.ci-yt,
.ci-yt-dark,
.ci-yt-light {
  content: url("../../public/logos/youtube/youtube.svg");
}

.ci-zara-light,
.ci-zara-wordmark-light {
  content: url("../../public/logos/zara/zara-wordmark-light.svg");
}

.ci-zara,
.ci-zara-dark,
.ci-zara-wordmark,
.ci-zara-wordmark-dark {
  content: url("../../public/logos/zara/zara-wordmark.svg");
}

